apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
  labels:
    app: webapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
##     nodeName: ip-172.31.87.255  ## node name
      containers:
      - name: webapp
        image: ajesh22/arya:2.0
        ports:
        - containerPort: 8080
## labels - kubectl get nodes --show-labels - kubectl label nodes <your-node-name> disktype=ssd
##    nodeSelector:
##      kubernetes.io/hostname: ip-172.31.87.255  
